.App {
  text-align: center;
}

.header {
  background: #ab2a19;
  margin: auto;
  height: 50px;
  width: 100%;
  display: inline-block;
}

img {
  float: left;
  margin: 20px;
}

h2{
  float: left;
  color: white;
  margin: 15px;
}

.form {
  margin: auto;
  height: 520px;
  width: 450px;
  background: #3ad886;
  border-radius: 15px;
}

.form-img-preview {
  width: 220px;
  height: 100px;
  background-image: url('https://cdn4.iconfinder.com/data/icons/hotel-and-restaurant-vol-4/48/193-512.png');
  background-repeat: no-repeat;
  margin: auto;
  background-size: 100px;
  background-position-x: 60px;
  
}

.input-field {
  width: 420px;
  height: 21px;
}

.btn {
  margin: 10px;
}

.cancelBtn {
  background: #d34735;
  border-radius: 5px;
  float: left;
  margin: 25px;
  width: 100px;
  height: 25px;
}

.addBtn {
  background: #d34735;
  border-radius: 5px;
  float: right;
  margin: 25px;
  width: 150px;
  height: 25px;
}

.product-container {
  background: #d34735;
  /* display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: stretch; */

}

.products-list {
  background-color: #d34735;
  width: 400px;
  margin: auto;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.products-image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.product-box 	{
display: inline-block;
}
